*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    
    width:50px;
    /* height:100px; */
}
.admin_image{
    width: 100px;
    object-fit: contain;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
    background: #000;
}